.headerContainer {
  width: 100%;
  background-color: #f8f8f8;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.headerContainerHelper {
  width: 1200px;
  height: 86px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogoContainer {
  height: 56px;
}

.headerButtonsContainer {
  display: flex;
}

@media only screen and (max-width: 1280px) {
  .headerContainerHelper {
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-left: 20px;
  }
}