.contentLayout {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.contentElementContainer {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1280px) {
  .contentLayout {
    width: 100%;
    flex-direction: column-reverse;
  }
}